.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.left{
  margin-left: 10px;
}

.form-group{
  margin-bottom: 25px;
}

.mat-dialog-title{
  color: darkcyan;
}

h1{
  color: black;
  margin-left: 40%;
}
h2{
  font-family: Arial;
  font-size: 30px;
}
