<h1 mat-dialog-title>Modification des informations d'une classe</h1>
<div mat-dialog-content>

  <form #f="ngForm">

    <div class="form-group" [hidden]="true">
      <label>ID</label>
      <input type="text" class="form-control" name="id" ngModel="{{data.id}}" required>
    </div>

    <div class="form-group">
      <label class="control-label">Nom de la classe</label>
      <input type="text" class="form-control" name="nom" ngModel="{{data.nom}}" required>
    </div>

    <div class="form-group">
      <label class="control-label">Niveau de la classe</label>
      <input type="text" class="form-control" name="niveau" ngModel="{{data.niveau}}" required>
    </div>

    <div class="form-group">
      <label class="control-label">Série de la classe</label>
      <input type="text" class="form-control" name="serie" ngModel="{{data.serie}}" required>
    </div>

    <button class="btn btn-danger" (click)="onNoClick()">Cancel</button>
    <button [disabled]="!f.valid" class="btn btn-success left" cdkFocusInitial
            (click)="editClasse(f.value)">Save</button>

  </form>

</div>

